{% extends 'base.html.twig' %}


{% block title %}{{program.title}}{% endblock %}

{% block body %}
    <h1>{{ season.program.title }} - Saison {{ season.number }}  </h1>
        <li><h2>Episode {{ episode.number }} - {{ episode.title }}</h2>
           <p>Synopsis : {{ episode.synopsis }}</p>
        </li>

{% if app.user %}
    <h3>Ajouter un commentaire </h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button typr = "submit" class="btn btn-primary">Envoyer</button>
    {{form_end(form)}}
{% endif %}

<h3>Commentaires : </h3>

{% for comment in comments %}
<div class = "card mb-2">
    <div class = "card-body">
        <p class = "card-text">
            <strong>{{comment.user.email}}</strong>:({{ comment.createdAt|date('d/m/Y') }}):
                        {{ comment.comment }}
        {% if app.user and (app.user == comment.user or is_granted('ROLE_ADMIN')) %}
            <form method="post" action="{{path('comment_delete', {'id': comment.id}) }}">
            <button type="submit" class="btn btn-danger btn-sm">Supprimer ce commentaire</button>
            </form>
        {% endif %}
        </p>
    </div>
</div>
{% else %}
    <p> Aucuns commentaires </p>
{% endfor %}


{% endblock %}