{% extends 'base.html.twig' %}


{% block title %}Seasons{% endblock %}

{% block body %}
    <h1>Saisons: </h1>
        <div>
            <h1> {{ season.number }} - {{ season.program.title }}</h1>
            <p>{{ season.description }}</p>
            <p>{{ season.year }}</p>
        </div>
     <h3> Liste des épisodes :</h3>   
     {% for episode in season.episodes %}
        <li>
        <a href="{{ path("episode_show", {programId: program.id, seasonId: season.id, episodeId: episode.id}) }}">Episode n°{{ episode.number }}</a>
        </li>
     {% endfor %}

        <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

   {% endblock %}