{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <h1>Program</h1>

    <table class="table">
        <body>
            <tr>
                <th>Id</th>
                <td>{{ program.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ program.title }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ program.synopsis }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td>{{ program.poster }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ program.country }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ program.year }}</td>
            </tr>
            <tr>
                <th>Durée totale de la série : </th>
                <td>{{ duration }}</td>
            </tr>            
          
        </body>
    </table>

<strong>Acteurs :</strong>
                <ul>
                    {% for actor in program.actors %}
                         <li><a href= "{{path('app_actor_show', {'id' : actor.id}) }}"> {{actor.name}} </a><li>  
   
                    {% else %}
                        <li>Aucun acteur pour cette série</li>
                    {% endfor %}
                </ul>
                
    {% for season in program.seasons %}
        <div>
            <a href="{{ path('season_show', {slug : program.slug, 'seasonId': season.id}) }}">
                <span>saison n°{{ season.number }} </span>
            </a>
        </div>
    {% endfor %}

    <a href="{{ path('app_program_index') }}">back to list</a>

    <a href="{{ path('app_program_edit', {slug : program.slug}) }}">edit</a>

    {{ include('program/_delete_form.html.twig') }}
{% endblock %}
